@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: black;
}

p,
a,
span,
div,
li {
  font-family: "NanumSquare";
  font-size: 20px;
}

@font-face {
  font-family: "BodoniFLF-Bold";
  src: url(../font/BodoniFLF-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "BodoniFLF";
  src: url(../font/BodoniFLF-Roman.ttf);
}
/***************************************************/
.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100px;
  box-shadow: 5px 5px 5px 5px #999;
  overflow: hidden;
}
.header:hover .header_bg {
  opacity: 1;
}
.header .header_bg {
  position: absolute;
  width: 100%;
  height: 100px;
  background-color: #fff;
  opacity: 0.4;
  z-index: -1;
}
.header .logo {
  margin-left: 10%;
  height: 100px;
}
.header .logo:hover > a > img {
  width: 100%;
}
.header .logo:hover > a > img:nth-child(1) {
  display: none;
}
.header .logo:hover > a > img:nth-child(2) {
  display: block;
  transition: 0.3s;
  width: 95%;
  transform: translate(10px, 10px);
}
.header .logo > a {
  width: 100px;
  height: 100px;
}
.header .logo > a > img {
  width: 100%;
  transition: 0.3s;
}
.header .logo > a > img:nth-child(2) {
  display: none;
}
.header .lnb {
  width: 50%;
  height: 100px;
  text-align: center;
  line-height: 130px;
  margin-right: 1%;
}
.header .lnb > ul {
  display: flex;
  justify-content: space-evenly;
}
.header .lnb > ul > li {
  margin-right: 20px;
}
.header .lnb > ul > li > a {
  font-size: 25px;
  font-family: "BodoniFLF-Bold";
  color: #222;
}
.header .lnb > ul > li > a:hover {
  color: #999;
}

.indicate {
  position: absolute;
  z-index: 100;
  /*  top: 50%; */
  right: 20px;
  width: 90px;
}
.indicate > li {
  text-align: center;
  margin-bottom: 30px;
  cursor: pointer;
}
.indicate > li:last-child {
  margin-bottom: 0;
}
.indicate > li > a > p {
  width: 90px;
  margin-right: 30px;
  display: none;
  font-weight: bold;
  font-family: "BodoniFLF";
}
.indicate > li > a .indi_btn {
  margin: 0 auto;
  width: 20px;
  height: 20px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #eee;
}
.indicate > li.on > a > p {
  display: block;
}
.indicate > li.on > a .indi_btn {
  display: none;
}

.wrap > div {
  width: 100%;
  height: 100vh;
}
.wrap > div .page_box {
  padding: 120px 100px 0px 100px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.wrap > div .page_box > p {
  font-family: "BodoniFLF";
  font-size: 50px;
  margin-left: 100px;
  color: #ccc;
}
.wrap .main_page {
  position: relative;
  overflow: hidden;
}
.wrap .main_page > img {
  position: absolute;
  z-index: -1;
  width: 100%;
}
.wrap .main_page .main_box {
  width: 1300px;
  margin: 0 auto;
  padding-top: 100px;
  box-sizing: border-box;
}
.wrap .main_page .main_box .typing {
  margin-top: 25%;
  margin-left: 230px;
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.wrap .main_page .main_box .typing > p {
  font-size: 30px;
  line-height: 40px;
  color: #fff;
  font-family: "NanumSquare";
}
.wrap .main_page .main_box .typing > img {
  filter: invert(100%);
  width: 20px;
  height: 20px;
  margin-bottom: 30px;
}
.wrap .main_page .main_box .typing .text {
  font-family: "NanumSquare";
  font-size: 30px;
}
.wrap .main_page .main_box .typing .text::after {
  content: "";
  border-right: 2px solid #777;
  animation: cursor 0.9s infinite steps(2);
}
.wrap .main_page .main_box .resume {
  margin-top: 50px;
  margin-left: 500px;
  width: 400px;
  overflow: hidden;
}
.wrap .main_page .main_box .resume > ul {
  display: flex;
}
.wrap .main_page .main_box .resume > ul > img {
  width: 20px;
  height: 20px;
}
.wrap .main_page .main_box .resume > ul > li {
  margin-left: 10px;
  cursor: pointer;
}
.wrap .main_page .main_box .resume > ul > li > a {
  color: #fff;
}
.wrap .main_page .main_box .resume > ul > li > a:hover {
  font-weight: bold;
}
.wrap .main_page .main_box .my_image {
  position: absolute;
  bottom: 50px;
  left: 300px;
  width: 500px;
  height: 700px;
  border-radius: 50%/50%;
  overflow: hidden;
  z-index: -1;
  box-shadow: 5px 5px 5px 5px #999;
}
.wrap .main_page .main_box .my_image > img {
  /* display: none; */
  width: 180%;
  transform: translate(-130px, -175px);
}
.wrap #page1 .page_box .page_inner {
  width: 100%;
  height: auto;
  background-color: #F9F9F9;
  border-radius: 100px;
  padding-bottom: 40px;
}
.wrap #page1 .page_box .page_inner .page1_tit {
  display: flex;
}
.wrap #page1 .page_box .page_inner .page1_tit > img {
  margin-top: 30px;
  width: 170px;
  margin-left: 100px;
}
.wrap #page1 .page_box .page_inner .page1_tit > p {
  margin-left: 25px;
  margin-top: 90px;
  color: #879ec2;
  font-weight: bold;
  font-size: 20px;
}
.wrap #page1 .page_box .page_inner .page1_txt {
  width: 100%;
  height: 190px;
  background-color: #fff;
  padding: 0 133px;
  box-sizing: border-box;
  justify-content: space-evenly;
}
.wrap #page1 .page_box .page_inner .page1_txt > div {
  width: 1300px;
  margin: 0 auto;
}
.wrap #page1 .page_box .page_inner .page1_txt > div > ul {
  width: 540px;
  margin: 0 auto;
  float: left;
  margin-right: 135px;
  padding-top: 30px;
}
.wrap #page1 .page_box .page_inner .page1_txt > div > ul:last-child {
  width: 625px;
  margin-right: 0;
}
.wrap #page1 .page_box .page_inner .page1_txt > div > ul li {
  float: left;
}
.wrap #page1 .page_box .page_inner .page1_txt > div > ul li > img {
  display: block;
  width: 16px;
  margin-right: 20px;
  margin-bottom: 30px;
}
.wrap #page1 .page_box .page_inner .page1_txt > div > ul li > p {
  font-size: 20px;
  margin-bottom: 30px;
}
.wrap #page1 .page_box .page_inner .page1_txt > div > ul .info {
  margin-left: 100px;
}
.wrap #page1 .page_box .page_inner > ul {
  display: flex;
  width: 1120px;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
}
.wrap #page1 .page_box .page_inner > ul > li {
  width: 350px;
  height: 340px;
  border: 5px solid #C4D9F8;
  margin-right: 35px;
  border-radius: 40px;
  box-shadow: 3px 2px 5px 2px #ccc;
}
.wrap #page1 .page_box .page_inner > ul > li:nth-child(3) {
  margin-right: 0;
}
.wrap #page1 .page_box .page_inner > ul > li:nth-child(1) > h5 {
  margin-bottom: 80px;
}
.wrap #page1 .page_box .page_inner > ul > li:nth-child(2) > h5 {
  margin-bottom: 75px;
}
.wrap #page1 .page_box .page_inner > ul > li:nth-child(3) > h5 {
  margin-bottom: 35px;
}
.wrap #page1 .page_box .page_inner > ul > li > h5 {
  width: 80%;
  margin: 20px auto;
  font-size: 35px;
  color: #C4D9F8;
  border-bottom: 3px solid #C4D9F8;
}
.wrap #page1 .page_box .page_inner > ul > li > p {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: bold;
}
.wrap #page1 .page_box .page_inner > ul > li > p > span {
  font-weight: normal;
}
.wrap #page1 .page_box .page_inner > ul > li > span {
  padding-bottom: 10px;
  display: block;
  font-size: 18px;
}
.wrap #page2 .page_box {
  position: relative;
}
.wrap #page2 .page_box > p {
  margin-left: 210px;
}
.wrap #page2 .page_box .blink5 {
  position: absolute;
  top: 300px;
  left: 480px;
  animation: blink-effect 2s step-end infinite;
  color: #C4D9F8;
  font-weight: bold;
}
.wrap #page2 .page_box .page_img {
  top: 60px;
  left: 180px;
  width: 150px;
  height: 150px;
  position: absolute;
}
.wrap #page2 .page_box .page_img > img {
  width: 100%;
}
.wrap #page2 .page_box .page_inner {
  width: 100%;
  height: auto;
}
.wrap #page2 .page_box .page_inner .my_skill {
  width: 1000px;
  padding: 0 0 200px 0px;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 70px;
  transform: translateX(70px);
  cursor: pointer;
}
.wrap #page2 .page_box .page_inner .my_skill > li {
  float: left;
  margin-right: 150px;
  height: 100px;
  width: 100px;
  position: relative;
  transform: scale(2);
}
.wrap #page2 .page_box .page_inner .my_skill > li > .inner {
  position: absolute;
  z-index: 6;
  top: 50%;
  left: 50%;
  height: 80px;
  width: 80px;
  margin: -40px 0 0 -40px;
  background: #fff;
  border-radius: 100%;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
.wrap #page2 .page_box .page_inner .my_skill > li > .inner > img {
  width: 100%;
}
.wrap #page2 .page_box .page_inner .my_skill > li .numb,
.wrap #page2 .page_box .page_inner .my_skill > li .numb1,
.wrap #page2 .page_box .page_inner .my_skill > li .numb2,
.wrap #page2 .page_box .page_inner .my_skill > li .numb3 {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  font-size: 14px;
  font-weight: bold;
}
.wrap #page2 .page_box .page_inner .my_skill > li .circle .bar {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #eee;
  -webkit-border-radius: 100%;
  clip: rect(0px, 100px, 100px, 50px);
}
.wrap #page2 .page_box .page_inner .my_skill > li .circle .bar .progress {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-border-radius: 100%;
  clip: rect(0px, 50px, 100px, 0px);
  background: #C4D9F8;
}
.wrap #page2 .page_box .page_inner .my_skill > li .circle .left .progress {
  z-index: 1;
  transform: rotate(180deg);
}
.wrap #page2 .page_box .page_inner .my_skill > li .circle .right,
.wrap #page2 .page_box .page_inner .my_skill > li .circle .right1,
.wrap #page2 .page_box .page_inner .my_skill > li .circle .right2,
.wrap #page2 .page_box .page_inner .my_skill > li .circle .right3 {
  z-index: 3;
  transform: rotate(180deg);
}
.wrap #page2 .page_box .page_inner .my_skill > li .circle .right .progress,
.wrap #page2 .page_box .page_inner .my_skill > li .circle .right1 .progress,
.wrap #page2 .page_box .page_inner .my_skill > li .circle .right2 .progress,
.wrap #page2 .page_box .page_inner .my_skill > li .circle .right3 .progress {
  animation-delay: 3s;
}
@keyframes right {
  100% {
    transform: rotate(162deg);
  }
}
@keyframes right1 {
  100% {
    transform: rotate(162deg);
  }
}
@keyframes right2 {
  100% {
    transform: rotate(108deg);
  }
}
@keyframes right3 {
  100% {
    transform: rotate(72deg);
  }
}
.wrap #page2 .page_box .page_inner .skill_txt {
  width: 1300px;
  margin: 30px auto;
  height: 120px;
  border: 5px solid #C4D9F8;
  border-radius: 20px;
  /*   background-color: $color; */
}
.wrap #page2 .page_box .page_inner .skill_txt > p {
  padding-top: 35px;
  box-sizing: border-box;
  text-align: center;
  font-weight: bold;
  line-height: 30px;
}
.wrap #page2 .page_box .page_inner .skill_txt .skill_page {
  display: none;
}
.wrap #page2 .page_box .page_inner .skill_txt .skill_page > h5 {
  width: 40%;
  text-align: center;
  line-height: 120px;
  font-size: 30px;
  float: left;
}
.wrap #page2 .page_box .page_inner .skill_txt .skill_page > p {
  margin-top: 25px;
  float: left;
  width: 60%;
}
.wrap #page2 .page_box .page_inner .skill_2 {
  width: 910px;
  margin: 0px auto;
  overflow: hidden;
}
.wrap #page2 .page_box .page_inner .skill_2 > li {
  float: left;
  width: 130px;
  height: 130px;
}
.wrap #page2 .page_box .page_inner .skill_2 > li:nth-child(1) > img {
  transform: translateY(40px);
}
.wrap #page2 .page_box .page_inner .skill_2 > li:nth-child(2) > img {
  transform: translate(10px, 30px);
}
.wrap #page2 .page_box .page_inner .skill_2 > li > img {
  width: 100%;
}
.wrap #page2 .page_box .page_inner .skill_3 {
  width: 780px;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 50px;
}
.wrap #page2 .page_box .page_inner .skill_3 > li {
  float: left;
  width: 130px;
  height: 130px;
}
.wrap #page2 .page_box .page_inner .skill_3 > li > img {
  width: 100%;
}
.wrap #page3 {
  position: relative;
  /* plan_pop2 */
}
.wrap #page3 > img {
  width: 100%;
  height: 100vh;
}
.wrap #page3 .page_box {
  top: 0;
  position: absolute;
}
.wrap #page3 .page_box > p {
  width: 300px;
  color: #fff;
}
.wrap #page3 .page_box > .blink3,
.wrap #page3 .page_box .blink4 {
  position: absolute;
  top: 145px;
  left: 730px;
  color: #fff;
  font-weight: bold;
  z-index: 100;
  animation: blink-effect 2s step-end infinite;
}
.wrap #page3 .page_box .blink4 {
  top: 628px;
  left: 1050px;
  color: #C4D9F8;
}
.wrap #page3 .page_box .Project_tab {
  position: absolute;
  top: 135px;
  left: 400px;
  width: 320px;
  overflow: hidden;
  border-bottom: 1px solid #fff;
}
.wrap #page3 .page_box .Project_tab > li {
  width: 80px;
  font-size: 35px;
  font-family: "BodoniFLF";
  float: left;
  color: #fff;
  text-align: center;
  cursor: pointer;
  opacity: 0.5;
}
.wrap #page3 .page_box .Project_tab > li:hover {
  color: #ccc;
  opacity: 1;
}
.wrap #page3 .page_box .Project_tab .on {
  color: #fff;
  border-bottom: 3px solid #fff;
  opacity: 1;
}
.wrap #page3 .page_box .Project_sheet > li {
  display: none;
  width: 100%;
  height: 200px;
  margin-top: 30px;
}
.wrap #page3 .page_box .Project_sheet > li .tab_img {
  position: absolute;
  top: 260px;
  left: 200px;
  width: 800px;
}
.wrap #page3 .page_box .Project_sheet > li .tab_img > img {
  width: 100%;
}
.wrap #page3 .page_box .Project_sheet > li .tab_inner {
  width: 100%;
  height: 365px;
  margin-top: 150px;
  background-color: #fff;
  padding: 20px 0 20px 1000px;
  box-sizing: border-box;
}
.wrap #page3 .page_box .Project_sheet > li .tab_inner .tab_txt {
  width: 800px;
  overflow: hidden;
  /* lika lika 메인컬러로 색상 바꾸가 */
}
.wrap #page3 .page_box .Project_sheet > li .tab_inner .tab_txt > h5 {
  font-size: 25px;
  text-align: center;
  width: 500px;
  margin: 20px 0 10px;
}
.wrap #page3 .page_box .Project_sheet > li .tab_inner .tab_txt > p {
  width: 500px;
  text-align: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  box-sizing: border-box;
}
.wrap #page3 .page_box .Project_sheet > li .tab_inner .tab_txt .tab_inner_left {
  float: left;
  width: 100px;
  margin: 30px 40px 10px 50px;
}
.wrap #page3 .page_box .Project_sheet > li .tab_inner .tab_txt .tab_inner_left > li {
  margin-bottom: 15px;
  font-weight: bold;
}
.wrap #page3 .page_box .Project_sheet > li .tab_inner .tab_txt .tab_inner_right {
  float: left;
  margin: 30px 0 10px 10px;
  width: 500px;
}
.wrap #page3 .page_box .Project_sheet > li .tab_inner .tab_txt .tab_inner_right > li {
  margin-bottom: 15px;
}
.wrap #page3 .page_box .Project_sheet > li .tab_inner .tab_txt .page3_btn,
.wrap #page3 .page_box .Project_sheet > li .tab_inner .tab_txt .page4_btn {
  position: relative;
  width: 500px;
  text-align: center;
}
.wrap #page3 .page_box .Project_sheet > li .tab_inner .tab_txt .page3_btn > button,
.wrap #page3 .page_box .Project_sheet > li .tab_inner .tab_txt .page4_btn > button {
  width: 140px;
  height: 33px;
  margin-left: 10px;
  background-color: #F67966;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.wrap #page3 .page_box .Project_sheet > li .tab_inner .tab_txt .page3_btn > button > a,
.wrap #page3 .page_box .Project_sheet > li .tab_inner .tab_txt .page4_btn > button > a {
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
}
.wrap #page3 .page_box .Project_sheet > li .tab_inner .tab_txt .page3_btn > button:hover,
.wrap #page3 .page_box .Project_sheet > li .tab_inner .tab_txt .page4_btn > button:hover {
  background-color: #b56e63;
}
.wrap #page3 .page_box .Project_sheet > li .tab_inner .tab_txt .page3_btn > button:nth-child(1),
.wrap #page3 .page_box .Project_sheet > li .tab_inner .tab_txt .page4_btn > button:nth-child(1) {
  margin: 0;
  margin-right: 5px;
}
.wrap #page3 .page_box .Project_sheet > li .tab_inner .tab_txt .page3_btn > a,
.wrap #page3 .page_box .Project_sheet > li .tab_inner .tab_txt .page4_btn > a {
  width: 100px;
  height: 100px;
}
.wrap #page3 .page_box .Project_sheet > li .tab_inner .tab_txt #btn02 > button {
  background-color: #E1D5B9;
}
.wrap #page3 .page_box .Project_sheet > li .tab_inner .tab_txt #btn02 > button:hover {
  background-color: #a59a81;
}
.wrap #page3 .page_box .Project_sheet > li .tab_inner .tab_txt #btn03 > button {
  background-color: #444;
}
.wrap #page3 .page_box .Project_sheet > li .tab_inner .tab_txt #btn03 > button:hover {
  background-color: #000;
}
.wrap #page3 .page_box .Project_sheet > li .tab_inner .tab_txt #btn04 > button {
  background-color: #1e57a0;
}
.wrap #page3 .page_box .Project_sheet > li .tab_inner .tab_txt #btn04 > button:hover {
  background-color: #999;
}
.wrap #page3 .page_box .Project_sheet > li:first-child {
  display: block;
}
.wrap #page3 .plan_pop {
  display: none;
  position: absolute;
  top: 3%;
  left: 3%;
  width: 1750px;
  height: 900px;
  background-color: #444;
  border-radius: 10px;
  z-index: 100;
}
.wrap #page3 .plan_pop .plan_pop2_img {
  background-color: #E1D5B9;
}
.wrap #page3 .plan_pop .plan_pop2_img > p {
  color: #E1D5B9;
}
.wrap #page3 .plan_pop .plan_pop3_img > p {
  color: #fff;
}
.wrap #page3 .plan_pop .plan_sheet3 {
  background-color: #E1D5B9;
}
.wrap #page3 .plan_pop .plan_pop4_img {
  background-color: rgb(54, 85, 126);
}
.wrap #page3 .plan_pop .plan_pop4_img > p {
  color: #b1c6e0;
}
.wrap #page3 .plan_pop .plan_pop_img,
.wrap #page3 .plan_pop .plan_pop2_img,
.wrap #page3 .plan_pop .plan_pop3_img,
.wrap #page3 .plan_pop .plan_pop4_img {
  float: left;
  width: 50%;
  height: 900px;
  /* plan_tab3 */
}
.wrap #page3 .plan_pop .plan_pop_img > p,
.wrap #page3 .plan_pop .plan_pop2_img > p,
.wrap #page3 .plan_pop .plan_pop3_img > p,
.wrap #page3 .plan_pop .plan_pop4_img > p {
  height: 50px;
  line-height: 50px;
  background-color: #444;
  text-align: center;
}
.wrap #page3 .plan_pop .plan_pop_img .plan_pop2_video,
.wrap #page3 .plan_pop .plan_pop2_img .plan_pop2_video,
.wrap #page3 .plan_pop .plan_pop3_img .plan_pop2_video,
.wrap #page3 .plan_pop .plan_pop4_img .plan_pop2_video {
  margin: 0 auto;
  text-align: center;
}
.wrap #page3 .plan_pop .plan_pop_img .plan_pop2_video > video,
.wrap #page3 .plan_pop .plan_pop2_img .plan_pop2_video > video,
.wrap #page3 .plan_pop .plan_pop3_img .plan_pop2_video > video,
.wrap #page3 .plan_pop .plan_pop4_img .plan_pop2_video > video {
  width: 800px;
  margin-top: 180px;
  text-align: center;
}
.wrap #page3 .plan_pop .plan_pop_img .plan_tab,
.wrap #page3 .plan_pop .plan_pop2_img .plan_tab,
.wrap #page3 .plan_pop .plan_pop3_img .plan_tab,
.wrap #page3 .plan_pop .plan_pop4_img .plan_tab {
  width: 100%;
  height: 50px;
  margin: 0 auto;
  padding: 0 100px;
  box-sizing: border-box;
  background-color: #444;
}
.wrap #page3 .plan_pop .plan_pop_img .plan_tab > li,
.wrap #page3 .plan_pop .plan_pop2_img .plan_tab > li,
.wrap #page3 .plan_pop .plan_pop3_img .plan_tab > li,
.wrap #page3 .plan_pop .plan_pop4_img .plan_tab > li {
  float: left;
  width: 200px;
  text-align: center;
  line-height: 50px;
  color: #C4D9F8;
  cursor: pointer;
}
.wrap #page3 .plan_pop .plan_pop_img .plan_tab > li:hover,
.wrap #page3 .plan_pop .plan_pop2_img .plan_tab > li:hover,
.wrap #page3 .plan_pop .plan_pop3_img .plan_tab > li:hover,
.wrap #page3 .plan_pop .plan_pop4_img .plan_tab > li:hover {
  font-size: 21px;
}
.wrap #page3 .plan_pop .plan_pop_img .plan_tab .choice,
.wrap #page3 .plan_pop .plan_pop2_img .plan_tab .choice,
.wrap #page3 .plan_pop .plan_pop3_img .plan_tab .choice,
.wrap #page3 .plan_pop .plan_pop4_img .plan_tab .choice {
  background-color: #C4D9F8;
  color: #444;
  font-weight: bold;
  border-radius: 5px 5px 0 0;
}
.wrap #page3 .plan_pop .plan_pop_img .plan_sheet,
.wrap #page3 .plan_pop .plan_pop2_img .plan_sheet,
.wrap #page3 .plan_pop .plan_pop3_img .plan_sheet,
.wrap #page3 .plan_pop .plan_pop4_img .plan_sheet {
  background-color: #667793;
  height: 850px;
  padding-top: 20px;
  box-sizing: border-box;
  overflow: hidden;
}
.wrap #page3 .plan_pop .plan_pop_img .plan_sheet > li,
.wrap #page3 .plan_pop .plan_pop2_img .plan_sheet > li,
.wrap #page3 .plan_pop .plan_pop3_img .plan_sheet > li,
.wrap #page3 .plan_pop .plan_pop4_img .plan_sheet > li {
  display: none;
}
.wrap #page3 .plan_pop .plan_pop_img .plan_sheet > li:nth-child(1),
.wrap #page3 .plan_pop .plan_pop2_img .plan_sheet > li:nth-child(1),
.wrap #page3 .plan_pop .plan_pop3_img .plan_sheet > li:nth-child(1),
.wrap #page3 .plan_pop .plan_pop4_img .plan_sheet > li:nth-child(1) {
  width: 300px;
  margin: 0 auto;
  margin-top: 50px;
}
.wrap #page3 .plan_pop .plan_pop_img .plan_sheet > li:nth-child(2),
.wrap #page3 .plan_pop .plan_pop2_img .plan_sheet > li:nth-child(2),
.wrap #page3 .plan_pop .plan_pop3_img .plan_sheet > li:nth-child(2),
.wrap #page3 .plan_pop .plan_pop4_img .plan_sheet > li:nth-child(2) {
  width: 500px;
  margin: 0 auto;
  margin-top: 50px;
}
.wrap #page3 .plan_pop .plan_pop_img .plan_sheet > li:nth-child(3),
.wrap #page3 .plan_pop .plan_pop2_img .plan_sheet > li:nth-child(3),
.wrap #page3 .plan_pop .plan_pop3_img .plan_sheet > li:nth-child(3),
.wrap #page3 .plan_pop .plan_pop4_img .plan_sheet > li:nth-child(3) {
  width: 800px;
  margin: 0 auto;
  margin-top: 100px;
}
.wrap #page3 .plan_pop .plan_pop_img .plan_sheet > li > video,
.wrap #page3 .plan_pop .plan_pop2_img .plan_sheet > li > video,
.wrap #page3 .plan_pop .plan_pop3_img .plan_sheet > li > video,
.wrap #page3 .plan_pop .plan_pop4_img .plan_sheet > li > video {
  width: 100%;
  text-align: center;
}
.wrap #page3 .plan_pop .plan_pop_img .plan_sheet > li:first-child,
.wrap #page3 .plan_pop .plan_pop2_img .plan_sheet > li:first-child,
.wrap #page3 .plan_pop .plan_pop3_img .plan_sheet > li:first-child,
.wrap #page3 .plan_pop .plan_pop4_img .plan_sheet > li:first-child {
  display: block;
}
.wrap #page3 .plan_pop .plan_pop_img .plan_tab3,
.wrap #page3 .plan_pop .plan_pop2_img .plan_tab3,
.wrap #page3 .plan_pop .plan_pop3_img .plan_tab3,
.wrap #page3 .plan_pop .plan_pop4_img .plan_tab3 {
  width: 100%;
  height: 50px;
  margin: 0 auto;
  padding: 0 100px;
  box-sizing: border-box;
  background-color: #444;
}
.wrap #page3 .plan_pop .plan_pop_img .plan_tab3 > li,
.wrap #page3 .plan_pop .plan_pop2_img .plan_tab3 > li,
.wrap #page3 .plan_pop .plan_pop3_img .plan_tab3 > li,
.wrap #page3 .plan_pop .plan_pop4_img .plan_tab3 > li {
  float: left;
  width: 200px;
  text-align: center;
  line-height: 50px;
  color: #E1D5B9;
  cursor: pointer;
}
.wrap #page3 .plan_pop .plan_pop_img .plan_tab3 > li:hover,
.wrap #page3 .plan_pop .plan_pop2_img .plan_tab3 > li:hover,
.wrap #page3 .plan_pop .plan_pop3_img .plan_tab3 > li:hover,
.wrap #page3 .plan_pop .plan_pop4_img .plan_tab3 > li:hover {
  font-size: 21px;
}
.wrap #page3 .plan_pop .plan_pop_img .plan_tab3 .choice3,
.wrap #page3 .plan_pop .plan_pop2_img .plan_tab3 .choice3,
.wrap #page3 .plan_pop .plan_pop3_img .plan_tab3 .choice3,
.wrap #page3 .plan_pop .plan_pop4_img .plan_tab3 .choice3 {
  background-color: #E1D5B9;
  color: #444;
  font-weight: bold;
  border-radius: 5px 5px 0 0;
}
.wrap #page3 .plan_pop .plan_pop_img .plan_sheet3,
.wrap #page3 .plan_pop .plan_pop2_img .plan_sheet3,
.wrap #page3 .plan_pop .plan_pop3_img .plan_sheet3,
.wrap #page3 .plan_pop .plan_pop4_img .plan_sheet3 {
  background-color: #E1D5B9;
  height: 850px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
  overflow: hidden;
}
.wrap #page3 .plan_pop .plan_pop_img .plan_sheet3 > li,
.wrap #page3 .plan_pop .plan_pop2_img .plan_sheet3 > li,
.wrap #page3 .plan_pop .plan_pop3_img .plan_sheet3 > li,
.wrap #page3 .plan_pop .plan_pop4_img .plan_sheet3 > li {
  display: none;
}
.wrap #page3 .plan_pop .plan_pop_img .plan_sheet3 > li:nth-child(1),
.wrap #page3 .plan_pop .plan_pop2_img .plan_sheet3 > li:nth-child(1),
.wrap #page3 .plan_pop .plan_pop3_img .plan_sheet3 > li:nth-child(1),
.wrap #page3 .plan_pop .plan_pop4_img .plan_sheet3 > li:nth-child(1) {
  width: 800px;
  margin: 0 auto;
  margin-top: 50px;
}
.wrap #page3 .plan_pop .plan_pop_img .plan_sheet3 > li:nth-child(1) > div > img,
.wrap #page3 .plan_pop .plan_pop2_img .plan_sheet3 > li:nth-child(1) > div > img,
.wrap #page3 .plan_pop .plan_pop3_img .plan_sheet3 > li:nth-child(1) > div > img,
.wrap #page3 .plan_pop .plan_pop4_img .plan_sheet3 > li:nth-child(1) > div > img {
  width: 100%;
}
.wrap #page3 .plan_pop .plan_pop_img .plan_sheet3 > li:nth-child(2),
.wrap #page3 .plan_pop .plan_pop2_img .plan_sheet3 > li:nth-child(2),
.wrap #page3 .plan_pop .plan_pop3_img .plan_sheet3 > li:nth-child(2),
.wrap #page3 .plan_pop .plan_pop4_img .plan_sheet3 > li:nth-child(2) {
  width: 800px;
  margin: 0 auto;
  margin-top: 50px;
}
.wrap #page3 .plan_pop .plan_pop_img .plan_sheet3 > li:nth-child(3),
.wrap #page3 .plan_pop .plan_pop2_img .plan_sheet3 > li:nth-child(3),
.wrap #page3 .plan_pop .plan_pop3_img .plan_sheet3 > li:nth-child(3),
.wrap #page3 .plan_pop .plan_pop4_img .plan_sheet3 > li:nth-child(3) {
  width: 800px;
  margin: 0 auto;
}
.wrap #page3 .plan_pop .plan_pop_img .plan_sheet3 > li:nth-child(3) > div,
.wrap #page3 .plan_pop .plan_pop2_img .plan_sheet3 > li:nth-child(3) > div,
.wrap #page3 .plan_pop .plan_pop3_img .plan_sheet3 > li:nth-child(3) > div,
.wrap #page3 .plan_pop .plan_pop4_img .plan_sheet3 > li:nth-child(3) > div {
  height: 800px;
  overflow: scroll;
  overflow-x: hidden; /* 가로스크롤 없애기 */
}
.wrap #page3 .plan_pop .plan_pop_img .plan_sheet3 > li:nth-child(3) > div::-webkit-scrollbar,
.wrap #page3 .plan_pop .plan_pop2_img .plan_sheet3 > li:nth-child(3) > div::-webkit-scrollbar,
.wrap #page3 .plan_pop .plan_pop3_img .plan_sheet3 > li:nth-child(3) > div::-webkit-scrollbar,
.wrap #page3 .plan_pop .plan_pop4_img .plan_sheet3 > li:nth-child(3) > div::-webkit-scrollbar {
  width: 15px;
}
.wrap #page3 .plan_pop .plan_pop_img .plan_sheet3 > li:nth-child(3) > div::-webkit-scrollbar-thumb,
.wrap #page3 .plan_pop .plan_pop2_img .plan_sheet3 > li:nth-child(3) > div::-webkit-scrollbar-thumb,
.wrap #page3 .plan_pop .plan_pop3_img .plan_sheet3 > li:nth-child(3) > div::-webkit-scrollbar-thumb,
.wrap #page3 .plan_pop .plan_pop4_img .plan_sheet3 > li:nth-child(3) > div::-webkit-scrollbar-thumb {
  height: 30%;
  background: #444;
}
.wrap #page3 .plan_pop .plan_pop_img .plan_sheet3 > li:nth-child(3) > div > img,
.wrap #page3 .plan_pop .plan_pop2_img .plan_sheet3 > li:nth-child(3) > div > img,
.wrap #page3 .plan_pop .plan_pop3_img .plan_sheet3 > li:nth-child(3) > div > img,
.wrap #page3 .plan_pop .plan_pop4_img .plan_sheet3 > li:nth-child(3) > div > img {
  width: 130%;
  opacity: 0.8;
  transform: translateX(-120px);
}
.wrap #page3 .plan_pop .plan_pop_img .plan_sheet3 > li > video,
.wrap #page3 .plan_pop .plan_pop2_img .plan_sheet3 > li > video,
.wrap #page3 .plan_pop .plan_pop3_img .plan_sheet3 > li > video,
.wrap #page3 .plan_pop .plan_pop4_img .plan_sheet3 > li > video {
  width: 100%;
  text-align: center;
}
.wrap #page3 .plan_pop .plan_pop_img .plan_sheet3 > li:first-child,
.wrap #page3 .plan_pop .plan_pop2_img .plan_sheet3 > li:first-child,
.wrap #page3 .plan_pop .plan_pop3_img .plan_sheet3 > li:first-child,
.wrap #page3 .plan_pop .plan_pop4_img .plan_sheet3 > li:first-child {
  display: block;
}
.wrap #page3 .plan_pop .plan_pop_txt {
  float: left;
  width: 50%;
  height: 100%;
}
.wrap #page3 .plan_pop .plan_pop_txt > h5 {
  color: #fff;
  font-size: 30px;
  width: 200px;
  margin: 0 auto;
  font-family: "BodoniFLF";
  letter-spacing: 2px;
  margin-top: 50px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}
.wrap #page3 .plan_pop .plan_pop_txt .plan_pop_inner {
  width: 800px;
  height: 650px;
  margin: 0 auto;
  margin-top: 20px;
  /* text_inner */
  /* text_inner1 */
  /* text_inner2 */
}
.wrap #page3 .plan_pop .plan_pop_txt .plan_pop_inner > h5 {
  font-size: 28px;
  color: #C4D9F8;
  margin-top: 30px;
  margin-bottom: 40px;
  font-weight: normal;
  text-align: center;
}
.wrap #page3 .plan_pop .plan_pop_txt .plan_pop_inner > div {
  display: flex;
}
.wrap #page3 .plan_pop .plan_pop_txt .plan_pop_inner .text_inner .inner_left {
  margin-right: 25px;
  width: 200px;
}
.wrap #page3 .plan_pop .plan_pop_txt .plan_pop_inner .text_inner .inner_left > p {
  color: #fff;
  margin-bottom: 30px;
}
.wrap #page3 .plan_pop .plan_pop_txt .plan_pop_inner .text_inner .inner_right > p {
  color: #fff;
  margin-bottom: 10px;
}
.wrap #page3 .plan_pop .plan_pop_txt .plan_pop_inner .text_inner .inner_right > p > a {
  color: #fff;
  border-bottom: 1px solid #fff;
}
.wrap #page3 .plan_pop .plan_pop_txt .plan_pop_inner .text_inner .inner_right > p > a:hover {
  color: #999;
  border-bottom: 1px solid #999;
}
.wrap #page3 .plan_pop .plan_pop_txt .plan_pop_inner .text_inner1 .inner_left > p:nth-child(2) {
  margin-bottom: 70px;
}
.wrap #page3 .plan_pop .plan_pop_txt .plan_pop_inner .text_inner1 .inner_left > p:nth-child(3) {
  margin-bottom: 90px;
}
.wrap #page3 .plan_pop .plan_pop_txt .plan_pop_inner .text_inner1 .inner_right > p {
  color: #fff;
  margin-bottom: 10px;
}
.wrap #page3 .plan_pop .plan_pop_txt .plan_pop_inner .text_inner1 .inner_right > p:nth-child(1), .wrap #page3 .plan_pop .plan_pop_txt .plan_pop_inner .text_inner1 .inner_right > p:nth-child(3), .wrap #page3 .plan_pop .plan_pop_txt .plan_pop_inner .text_inner1 .inner_right > p:nth-child(6), .wrap #page3 .plan_pop .plan_pop_txt .plan_pop_inner .text_inner1 .inner_right > p:nth-child(7), .wrap #page3 .plan_pop .plan_pop_txt .plan_pop_inner .text_inner1 .inner_right > p:nth-child(8) {
  margin-bottom: 30px;
}
.wrap #page3 .plan_pop .plan_pop_txt .plan_pop_inner .text_inner1 .inner_right > p > a {
  width: 130px;
}
.wrap #page3 .plan_pop .plan_pop_txt .plan_pop_inner .text_inner2 .inner_left > p:nth-child(2) {
  margin-bottom: 95px;
}
.wrap #page3 .plan_pop .plan_pop_txt .plan_pop_inner .text_inner2 .inner_left > p:nth-child(3) {
  margin-bottom: 90px;
}
.wrap #page3 .plan_pop .plan_pop_txt .plan_pop_inner .text_inner2 .inner_right {
  margin-right: 30px;
}
.wrap #page3 .plan_pop .plan_pop_txt .plan_pop_inner .text_inner2 .inner_right > p {
  color: #fff;
  margin-bottom: 10px;
}
.wrap #page3 .plan_pop .plan_pop_txt .plan_pop_inner .text_inner2 .inner_right > p:nth-child(1), .wrap #page3 .plan_pop .plan_pop_txt .plan_pop_inner .text_inner2 .inner_right > p:nth-child(8), .wrap #page3 .plan_pop .plan_pop_txt .plan_pop_inner .text_inner2 .inner_right > p:nth-child(9), .wrap #page3 .plan_pop .plan_pop_txt .plan_pop_inner .text_inner2 .inner_right > p:nth-child(10) {
  margin-bottom: 30px;
}
.wrap #page3 .plan_pop .plan_pop_txt .plan_pop_inner .text_inner2 .inner_right > p > a {
  width: 91px;
}
.wrap #page3 .plan_pop .plan_pop_txt .plan_pop_inner .text_inner4 .inner_right > p > a {
  width: 60px;
}
.wrap #page3 .plan_pop .plan_pop_txt .plan_pop_inner > p {
  color: #fff;
  margin-bottom: 10px;
}
.wrap #page3 .plan_pop .plan_pop_txt .plan_pop_inner > span {
  color: #fff;
}
.wrap #page3 .plan_pop > button {
  position: absolute;
  top: 25px;
  right: 30px;
  background-color: inherit;
  border: none;
  color: #eee;
  font-size: 35px;
  font-family: "NanumSquare";
  letter-spacing: 1px;
  /* font-weight: bold; */
  cursor: pointer;
}
.wrap #page3 .plan_pop > button:hover {
  font-weight: bold;
}
.wrap #page3 .plan_pop4 .plan_pop4_img {
  width: 860px;
  margin: 0 auto;
}
.wrap #page4 .page_box {
  position: relative;
  overflow: hidden;
}
.wrap #page4 .page_box > p {
  color: #fff;
}
.wrap #page4 .page_box > .blink,
.wrap #page4 .page_box .blink1 {
  position: absolute;
  top: 380px;
  left: 780px;
  color: #C4D9F8;
  font-weight: bold;
  animation: blink-effect 2s step-end infinite;
}
.wrap #page4 .page_box > .blink1 {
  top: 680px;
  left: 860px;
}
.wrap #page4 .page_box > ul {
  float: left;
  margin-top: 200px;
}
.wrap #page4 .page_box .content_icon {
  margin-left: 215px;
  margin-right: 50px;
  padding-left: 150px;
}
.wrap #page4 .page_box .content_icon > li {
  width: 80px;
  height: 80px;
  background-color: #C4D9F8;
  border-radius: 50%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.wrap #page4 .page_box .content_icon > li:nth-child(1) img {
  transform: translate(0px, -5px);
}
.wrap #page4 .page_box .content_icon > li:nth-child(4) {
  background-color: #fff;
  padding: 0;
}
.wrap #page4 .page_box .content_icon > li > img {
  width: 100%;
}
.wrap #page4 .page_box .content_txt {
  margin-top: 230px;
}
.wrap #page4 .page_box .content_txt > li {
  font-size: 25px;
  margin-bottom: 70px;
  font-weight: bold;
}
.wrap #page4 .page_box .content_txt > li > span {
  font-weight: normal;
}
.wrap #page4 .page_box .content_txt > li > a {
  font-size: 25px;
}
.wrap #page4 .page_box .content_txt > li > a:hover {
  color: #777;
}
.wrap #page4 .page_box .img2 {
  position: absolute;
  z-index: -10;
  width: 660px;
  height: 2200px;
  top: -1100px;
  transform: rotate(45deg);
  background-color: #000;
  overflow: hidden;
}
.wrap #page4 .page_box .img2 > div {
  width: 1845px;
  margin-top: 940px;
  margin-left: -475px;
}
.wrap #page4 .page_box .img2 > div > img {
  opacity: 0.9;
  width: 100%;
  transform: rotate(-45deg);
}
.wrap #page4 .page_box .email {
  float: left;
  margin-top: 100px;
  width: 540px;
  height: 500px;
  overflow: hidden;
  text-align: center;
  padding-top: 25px;
  margin-left: 100px;
  box-sizing: border-box;
  border: 5px solid #C4D9F8;
  border-radius: 20px;
}
.wrap #page4 .page_box .email > h5 {
  display: block;
  height: 50px;
  line-height: 50px;
  margin-bottom: 20px;
  font-size: 25px;
  color: #444;
}
.wrap #page4 .page_box .email > input {
  width: 500px;
  height: 30px;
  margin-bottom: 10px;
  padding-left: 20px;
  box-sizing: border-box;
  font-size: 18px;
  font-family: "NanumSquare";
  border-radius: 5px;
  background-color: #C4D9F8;
  border: none;
}
.wrap #page4 .page_box .email > textarea {
  width: 500px;
  height: 200px;
  box-sizing: border-box;
  padding-top: 20px;
  padding-left: 20px;
  font-size: 18px;
  font-family: "NanumSquare";
  background-color: #C4D9F8;
  border: none;
}
.wrap #page4 .page_box .email > .btn {
  margin-top: 10px;
  height: 50px;
  /* background-color: $color; */
  background-color: #444;
  color: #fff;
  border: none;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}
.wrap #page4 .page_box .email > .btn:hover {
  background-color: #C4D9F8;
  color: #fff;
}
.wrap #page4 .page_box > h1 {
  position: absolute;
  bottom: 100px;
  right: 300px;
  font-family: "BodoniFLF-Bold";
  color: #ccc;
}

.top_btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #C4D9F8;
  color: #fff;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
  transition: 0.3s;
  border: 2px solid #fff;
  font-size: 18px;
}
.top_btn:hover {
  border-radius: 40%;
}

@keyframes blink-effect {
  50% {
    opacity: 0;
  }
}/*# sourceMappingURL=index.css.map */